﻿<div id="wrapper">
  <%= render partial:'streams/header' , locals: { page: 'index' }  %>

  <div class="main_top"><img src="/images/index_12.png" width="990" height="23">
  </div>
    <div id="main">
      <div class="main_banner_left"><img src="/images/index_13.jpg" width="51" height="360"></div>

      <div class="main_banner">
        <object id="FlashID2" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="888" height="360">
          <param name="movie" value="/banner_ok.swf">
          <param name="quality" value="high">
          <param name="wmode" value="opaque">
          <param name="swfversion" value="6.0.65.0">
          <!-- 此 param 標籤會提示使用 Flash Player 6.0 r65 和更新版本的使用者下載最新版本的 Flash Player。如果您不想讓使用者看到這項提示，請將其刪除。 -->
          <param name="expressinstall" value="Scripts/expressInstall.swf">
          <!-- 下一個物件標籤僅供非 IE 瀏覽器使用。因此，請使用 IECC 將其自 IE 隱藏。 -->
          <!--[if !IE]>-->
          <object type="application/x-shockwave-flash" data="banner_ok.swf" width="888" height="360">
            <!--<![endif]-->
            <param name="quality" value="high">
            <param name="wmode" value="opaque">
            <param name="swfversion" value="6.0.65.0">
            <param name="expressinstall" value="Scripts/expressInstall.swf">
            <!-- 瀏覽器會為使用 Flash Player 6.0 和更早版本的使用者顯示下列替代內容。 -->
            <div>
              <h4>這個頁面上的內容需要較新版本的 Adobe Flash Player。</h4>
              <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="取得 Adobe Flash Player" width="112" height="33" /></a></p>
            </div>
            <!--[if !IE]>-->
          </object>
          <!--<![endif]-->
        </object>
      </div>


      <div class="main_banner_right"><img src="/images/index_15.png" width="51" height="360"> </div>
    </div>

    <div id="co">
      <div class="co_a">
        <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="309" height="318" style="visibility: inherit;">
          <param name="movie" value="/music.swf">
          <param name="quality" value="high">
          <param name="wmode" value="opaque">
          <param name="swfversion" value="6.0.65.0">
          <!-- 此 param 標籤會提示使用 Flash Player 6.0 r65 和更新版本的使用者下載最新版本的 Flash Player。如果您不想讓使用者看到這項提示，請將其刪除。 -->
          <param name="expressinstall" value="Scripts/expressInstall.swf">
          <!-- 下一個物件標籤僅供非 IE 瀏覽器使用。因此，請使用 IECC 將其自 IE 隱藏。 -->
          <!--[if !IE]>-->
          <object type="application/x-shockwave-flash" data="/music.swf" width="309" height="318">
            <!--<![endif]-->
            <param name="quality" value="high">
            <param name="wmode" value="opaque">
            <param name="swfversion" value="6.0.65.0">
            <param name="expressinstall" value="Scripts/expressInstall.swf">
            <!-- 瀏覽器會為使用 Flash Player 6.0 和更早版本的使用者顯示下列替代內容。 -->
            <div>
              <h4>這個頁面上的內容需要較新版本的 Adobe Flash Player。</h4>
              <p><a href="http://www.adobe.com/go/getflashplayer"><img src="./images/get_flash_player.gif" alt="取得 Adobe Flash Player" width="112" height="33"></a></p>
            </div>
            <!--[if !IE]>-->
          </object>
          <!--<![endif]-->
        </object>
      </div>
      <div class="co_b">
        <div class="co_bb">
          <% for row in 2..$my_about_list.num_rows %>
              <span class="t_yellow" ><%=$my_about_list[row,1]%></span><span class="t_gray"><br>
              <%=$my_about_list[row,2]%>
              </span><br>
          <% end %>


        </div>
      </div>
      <div class="co_c">
        <div class="co_cc">
		<% unless @latest_blog_posts.nil? %>
		  <% @latest_blog_posts.each do |post| %>
             <span class="t_yellow" >  <%=post.pubDate %>  <% if nil != post && post.respond_to?(:pubDate) %></span>
                   <br>
             <span class="t_gray">
              <a id="opener" class="t_gray" href="http://blog.streams.tw/" ><%= post.title[0..20] %> ...</a></span>
               <div id="dialog" title="Basic dialog" style="position: absolute; height: auto; width: 300px; top: 70.5px; left: 485.5px; display: none; visibility: visible;">
                 <p> <%= raw post.description %>  </p>
               </div>
			 </a><br>
		   <% end %>
		  <% end %>
		<% else %>
		 <p>
		  <em>No blog posts to show.</em>
		 </p>
		<% end %>


          <div class="index_bu"><a href="http://dingba.codream.tw/r/4d1d73" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image12','','/images/index_bu_up.png',1)"><img src="/images/index_bu.png" name="Image12" width="151" height="54" border="0"></a></div>
        </div>

      </div>

    </div>

    <%= render :partial => 'streams/footer' %>
</div>


<script>
    $(function() {
        $( "#dialog" ).dialog({
            autoOpen: false,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            }
        });

        $( "#opener" ).click(function() {
            $( "#dialog" ).dialog( "open" );
        });
    });

    function MM_swapImgRestore() { //v3.0
        var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
    }

    function MM_preloadImages() { //v3.0
        var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
            var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
                if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
    }

    function MM_findObj(n, d) { //v4.01
        var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
            d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
        if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
        for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
        if(!x && d.getElementById) x=d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
        var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
            if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
    }

</script>

