<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div id="wrapper">
  <%= render :partial => 'streams/header', :locals => { :page => 'menu' } %>
  <div class="photo_main">
    <%= render :partial => 'streams/left' %>

    <div class="content_right" style="float:right">
      <div class="content_banner_photo"><img src="/images/banner_contact.jpg" width="793" height="154"></div>


      <div class="content_menu">

        <div class="content_title_about"><img src="/images/menu_03.jpg" width="793" height="117"></div>

        <div class="next_bg">
          <div class="H_center">
            <div class="next_prev"> <img id="prev_package" src="/images/next_prev_03.png" width="100" height="25"></div>
            <div class="next_prev"><img src="/images/next_prev_05.png" width="4" height="25"></div>
            <div class="next_prev"> <img id="next_package" src="/images/next_prev_07.png" width="100" height="25"></div>
          </div>
        </div>

        <div class="menu_content_bg">
          <div class="menu_content_left"></div>
          <section>
            <% @packages.each do |package| %>
              <div class="menu_out">
                <p class="word_big_title">  <%= package[:name] %>   </p>
                <% package[:dishes].each do |dish| %>
                    <div class="word_title_apace_center">
                      <%= dish[:link] ? dish[:name] : %Q(<a  href="#{dish[:link]}">#{dish[:name]}</a>) %>
                    </div>
                    <p class="word_pp_space">
                      <%= dish[:introduction] %>
                    </p>
                <% end %>
              </div>
            <% end %>
          </section>

        </div>


        <div class="content_title_about"><img src="/images/menu_08.jpg" width="793" height="137"></div>
      </div>
    </div>
  </div>

    <%= render :partial => 'streams/footer' %>
</div>

<script>
    $(function(){
        document.title = '佳餚美饌｜荒漠甘泉 大學口店';
        var packages = $('.menu_out');
        var package_num = 0;

        var max_height = 0;
        packages.each(function(){
            var h = $(this).height();
            max_height = h > max_height ? h : max_height;
        });
        $('body').css('height', (max_height + 50) + 'px');

        packages.hide();
        packages.eq(0).show();

        $('#next_package').click(function(){

            packages.eq(package_num).fadeOut();
            package_num++;
            if(packages.length === package_num){
                package_num = 0;
            }
            packages.eq(package_num).fadeIn();
            return false;
        });

        $('#prev_package').click(function(){
            packages.eq(package_num).fadeOut();
            package_num--;
            if(package_num === -1){
                package_num = packages.length - 1;
            }
            packages.eq(package_num).fadeIn();
            return false;
        });
    });

</script>


</body>