
  <style type="text/css">
      .fancybox-custom .fancybox-skin {
          box-shadow: 0 0 30px #ffee54;
      }
  </style>


<div id="wrapper">

  <div id="header">
    <div class="logo"><a  href="/"><img src="/images/index_01.png" width="309" height="89"></a></div>
    <div class="header_bg">
      <div id="menu"><ul>
        <li><a target="_blank" href="https://www.facebook.com/streams.tw"  ><img src="/images/icon_f.png" width="20" height="20"></a></li>
        <li><a target="_blank"  href="http://blog.streams.tw/"><img src="/images/icon_t.png" width="21" height="20"></a></li>
        <li><a target="_blank"  href="mailto:info@streams.tw"><img src="/images/icon_m.png" width="19" height="19"></a></li>
        <li><a  target="_blank"  href="http://dingba.codream.tw/r/4d1d73"> 線上網路訂位 </a></li>
        <li><a  target="_blank" href="http://ntu.streams.tw/">視差捲軸網頁體驗 </a></li>
      </ul></div>
    </div>
    <div class="header_icon"><a href="http://ntu.streams.tw/"><img src="/images/index_03.png" width="81" height="89"></a></div>
  </div>


  <div id="nav_bg">

    <div id="nav_left">
      <div class="logo_s"><img src="/images/index_04.png" width="248" height="42"></div>

      <div id="nav">
        <ul><li><a href="/streams/about" >關於荒漠甘泉</a></li>
          <li><a  href="/streams/menu"  >極品美饌</a></li>
          <li><a href="/streams/photos"  >餐廳實景</a></li>
          <li><a href="/streams/stores" >分店介紹＆預約</a></li>
          <li><a href="/streams/what_we_do" >看見荒漠甘泉</a></li></ul>
      </div>
    </div>
  </div>



  <div class="photo_main">
    <div class="content_left" style="float:left;">
      <img src="/images/about_01.png" width="197" height="800">
      <div style="height:100%; width:100%">&nbsp;</div>
    </div>
    <div class="content_right" style="float:right">
      <div class="content_banner_photo">
        <img src="/images/about_02.png" width="793" height="154"></div>

      <div class="content_photo">
        <div class="content_title"></div>
        <div class="photo_out">
          <div class="photo_s_title"> 大門外觀 </div>
          <!--滑鼠移動後顯示照片中的文字-->
          <% for row in 2..$my_photos_list.num_rows %>
              <% if $my_photos_list[row,1] == '1' %>
              <div class="photo_s">
                <a class="streamsPhotos" tabindex="1" href="/photo/<%=$my_photos_list[row,2]%>.JPG" data-fancybox-group="gallery" title="<%=$my_photos_list[row,3]%>">
                  <img src="/photo/_<%=$my_photos_list[row,2]%>.jpg" width="200" height="134"> </a>
              </div>
              <% end %>
          <% end %>

        </div>
        <div class="photo_out">
          <br> <div class="photo_s_title" style="float: left"> 餐廳室內造景 </div>
          <% for row in 2..$my_photos_list.num_rows %>
              <% if $my_photos_list[row,1] == '2' %>
                  <div class="photo_s">
                    <a class="streamsPhotos" tabindex="1" href="/photo/<%=$my_photos_list[row,2]%>.JPG" data-fancybox-group="gallery" title="<%=$my_photos_list[row,3]%>">
                      <img src="/photo/_<%=$my_photos_list[row,2]%>.jpg" width="200" height="134"> </a>
                  </div>
              <% end %>
          <% end %>

        </div>

        <div class="photo_out">
          <br> <div class="photo_s_title" style="float: left"> 地下室內造景 </div>

          <% for row in 2..$my_photos_list.num_rows %>
              <% if $my_photos_list[row,1] == '3' %>
                  <div class="photo_s">
                    <a class="streamsPhotos" tabindex="1" href="/photo/<%=$my_photos_list[row,2]%>.JPG" data-fancybox-group="gallery" title="<%=$my_photos_list[row,3]%>">
                      <img src="/photo/_<%=$my_photos_list[row,2]%>.jpg" width="200" height="134"> </a>
                  </div>
              <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
  <%= render :partial => 'streams/footer' %>

</div>


