<!DOCTYPE html>
<html>
<head>
  <title>Photos</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


  <!-- Add mousewheel plugin (this is optional) -->
  <script type="text/javascript" src="/lib/jquery.mousewheel-3.0.6.pack.js"></script>

  <!-- Add fancyBox main JS and CSS files -->
  <script type="text/javascript" src="/source/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="/source/jquery.fancybox.css?v=2.1.5" media="screen" />

  <!-- Add Button helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
  <script type="text/javascript" src="/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

  <!-- Add Thumbnail helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
  <script type="text/javascript" src="/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  <script type="text/javascript">
      $(document).ready(function() {
          /*
           *   image gallery.
           */

          $('.streamsPhotos').fancybox(
                  {
                      wrapCSS    : 'fancybox-custom',
                      openEffect : 'elastic',
                      openSpeed  : 500,
                      closeEffect : 'elastic',
                      closeSpeed  : 500,
                      prevEffect	: 'fade',
                      nextEffect	: 'fade',
                      prevSpeed	: 'slow',
                      nextSpeed	: 'slow',

                      helpers: {
                          title : {
                              type : 'float'
                          },
                          overlay : {
                              speedOut : 1000
                          },
                          thumbs : {
                              width  : 50,
                              height : 50
                          }

                      }
                  } );
      });
  </script>
  <style type="text/css">
      .fancybox-custom .fancybox-skin {
          box-shadow: 0 0 30px #ffee54;
      }
  </style>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">


<div id="wrapper">
  <%= render  partial: 'streams/header', locals: { page: 'photos' } %>

  <div class="photo_main">
    <div class="content_left" style="float:left;">
      <img src="/images/about_01.png" width="197" height="800">
      <div style="height:100%; width:100%">&nbsp;</div>
    </div>
    <div class="content_right" style="float:right">
      <div class="content_banner_photo">
        <img src="/images/about_02.png" width="793" height="154"></div>

      <div class="content_photo">
        <div class="content_title"></div>
        <div class="photo_out">
          <div class="photo_s_title"> 大門外觀 </div>
          <!--滑鼠移動後顯示照片中的文字-->
          <% for row in 2..$my_photos_list.num_rows %>
              <% if $my_photos_list[row,1] == '1' %>
              <div class="photo_s">
                <a class="streamsPhotos" href="/photo/<%=$my_photos_list[row,2]%>.JPG" data-fancybox-group="gallery" title="<%=$my_photos_list[row,3]%>">
                  <img src="/photo/_<%=$my_photos_list[row,2]%>.jpg" width="200" height="134"> </a>
              </div>
              <% end %>
          <% end %>

        </div>
        <div class="photo_out">
          <br> <div class="photo_s_title" style="float: left"> 餐廳室內造景 </div>
          <% for row in 2..$my_photos_list.num_rows %>
              <% if $my_photos_list[row,1] == '2' %>
                  <div class="photo_s">
                    <a class="streamsPhotos" href="/photo/<%=$my_photos_list[row,2]%>.JPG" data-fancybox-group="gallery" title="<%=$my_photos_list[row,3]%>">
                      <img src="/photo/_<%=$my_photos_list[row,2]%>.jpg" width="200" height="134"> </a>
                  </div>
              <% end %>
          <% end %>

        </div>

        <div class="photo_out">
          <br> <div class="photo_s_title" style="float: left"> 地下室內造景 </div>

          <% for row in 2..$my_photos_list.num_rows %>
              <% if $my_photos_list[row,1] == '3' %>
                  <div class="photo_s">
                    <a class="streamsPhotos" href="/photo/<%=$my_photos_list[row,2]%>.JPG" data-fancybox-group="gallery" title="<%=$my_photos_list[row,3]%>">
                      <img src="/photo/_<%=$my_photos_list[row,2]%>.jpg" width="200" height="134"> </a>
                  </div>
              <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
  <%= render :partial => 'streams/footer' %>

</div>



</body>
</html>