
  <style type="text/css">
      .fancybox-custom .fancybox-skin {
          box-shadow: 0 0 30px #ffee54;
      }
  </style>


<div id="wrapper">
  <%= render  partial: 'streams/header', locals: { page: 'photos' } %>

  <div class="photo_main">
    <div class="content_left" style="float:left;">
      <img src="/images/about_01.png" width="197" height="800">
      <div style="height:100%; width:100%">&nbsp;</div>
    </div>
    <div class="content_right" style="float:right">
      <div class="content_banner_photo">
        <img src="/images/about_02.png" width="793" height="154"></div>

      <div class="content_photo">
        <div class="content_title"></div>
        <div class="photo_out">
          <div class="photo_s_title"> 大門外觀 </div>
          <!--滑鼠移動後顯示照片中的文字-->
          <% for row in 2..$my_photos_list.num_rows %>
              <% if $my_photos_list[row,1] == '1' %>
              <div class="photo_s">
                <a class="streamsPhotos" href="/photo/<%=$my_photos_list[row,2]%>.JPG" data-fancybox-group="gallery" title="<%=$my_photos_list[row,3]%>">
                  <img src="/photo/_<%=$my_photos_list[row,2]%>.jpg" width="200" height="134"> </a>
              </div>
              <% end %>
          <% end %>

        </div>
        <div class="photo_out">
          <br> <div class="photo_s_title" style="float: left"> 餐廳室內造景 </div>
          <% for row in 2..$my_photos_list.num_rows %>
              <% if $my_photos_list[row,1] == '2' %>
                  <div class="photo_s">
                    <a class="streamsPhotos" href="/photo/<%=$my_photos_list[row,2]%>.JPG" data-fancybox-group="gallery" title="<%=$my_photos_list[row,3]%>">
                      <img src="/photo/_<%=$my_photos_list[row,2]%>.jpg" width="200" height="134"> </a>
                  </div>
              <% end %>
          <% end %>

        </div>

        <div class="photo_out">
          <br> <div class="photo_s_title" style="float: left"> 地下室內造景 </div>

          <% for row in 2..$my_photos_list.num_rows %>
              <% if $my_photos_list[row,1] == '3' %>
                  <div class="photo_s">
                    <a class="streamsPhotos" href="/photo/<%=$my_photos_list[row,2]%>.JPG" data-fancybox-group="gallery" title="<%=$my_photos_list[row,3]%>">
                      <img src="/photo/_<%=$my_photos_list[row,2]%>.jpg" width="200" height="134"> </a>
                  </div>
              <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
  <%= render :partial => 'streams/footer' %>

</div>


  <script type="text/javascript">

      $(".content_photo").on('focusin', function(){
          $this = $(this);
          $("a.streamsPhotos").fancybox({
              wrapCSS    : "fancybox-custom",
              openEffect : "elastic",
              openSpeed  : 500,
              closeEffect : "elastic",
              closeSpeed  : 500,
              prevEffect  : "fade",
              nextEffect  : "fade",
              prevSpeed	  : "slow",
              nextSpeed	  : "slow",
              href: $this.attr('href'),

              helpers: {
                  title : {
                      type : "float"
                  },
                  overlay : {   speedOut : 1000  }
              }
          });
      });

//      $(window).ready(function() {
//          $("a.streamsPhotos").live("focusin", function(e){
//              e.preventDefault();
//              alert("11111");
//              $("a.streamsPhotos").fancybox( {
//                  wrapCSS    : "fancybox-custom",
//                  openEffect : "elastic",
//                  openSpeed  : 500,
//                  closeEffect : "elastic",
//                  closeSpeed  : 500,
//                  prevEffect  : "fade",
//                  nextEffect  : "fade",
//                  prevSpeed	  : "slow",
//                  nextSpeed	  : "slow",
//
//                  helpers: {
//                      title : {
//                          type : "float"
//                      },
//                      overlay : {   speedOut : 1000  }
//                  }
//              });
//          });
//      });
  </script>